/* Desktop */

body {
    padding-top: 450px;
    margin:0;
    background-color:dimgray;
}
ol, li, ul {
    list-style-position: inside;
    text-align: center;
}

img {
    width:100%;
}

.navlinks{
    position: fixed;
    left: 0;
    top: 400px;
    bottom:auto;
    width: 100%;
    background-color: darkslategray;
    text-align: center;
}

a:link{
    color:white;
}

a:visited{
    color: orangered;
}

a:hover{
    color: grey;
}

h1,h2,h3,h4,h5{
    font-family: 'Russo One', sans-serif; 
    color:greenyellow;
    text-shadow:1px 1px 2px black; 
}

p, ul, ol {
    font-family: 'Source Serif Pro', serif;
    color: white;
    text-shadow:1px 1px 2px black; 
}

img#project1screen {
    border-image-width: 20%;
    align-content: center;
}

.headerimage { 
    position: fixed;
    height:400px;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    top:0;
    z-index: 1;
}
.blackbg{
    position:fixed;
    top:0;
    width:100%;
    height: 400px;
    
}


/* Mobile */

@media only screen and (max-width:500px) {
    .navlinks{
    position: fixed;
    top: 250px;
    bottom:auto;
    width: 100%;
    background-color: darkslategray;
    text-align: center;
}
    body{
        padding-top: 300px;
    }
    p,{
        width:80%;
        margin:2% 2%;
        align-content: center;
    }
    
    Img {
        width:80%;
    }
    .headerimage{
    width:500px;
    height: 250px;
    position: fixed;
    left:50%;
    margin-left: -250px;
    
}
    .blackbg{
        height:250px;
    }
    
}
