/* Desktop */

body {
    margin:10%;
}
ol, li {
    list-style-position: inside;
    text-align: center;
}

img {
    width:100%;
}

.navlinks{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    a: hover{
    background-color: crimson;
    }
}



img#project1screen{
    border-image-width: 20%;
}

/* Mobile */

@media only screen and (max-width:500px) {
    body {
        width:80%;
        padding:2% 2%;
        align-content: center;
    }
    
    Img {
        width:80%;
    }
}
