/*text*/

body {
    width:100%;
    margin:0;
    background-image:url("starBG.gif") ;
    text-align: left;
}

h1
{
    font-family: 'VT323', monospace;
    color: deeppink;
    text-align:center;
    margin: 8% 2% 5% 2%;
    border-bottom: dotted;
    border-color: white;
    border-width: 50%;
}

h2
{
    color: deeppink;
    text-align:center;
    margin: 10% 2% 5% 2%;
    border-style: dotted;
    border-color: white;
    border-width: 50%;
    
}

div
{
    background:url(tansparentGradient.png);
    background-repeat:repeat-y;
    background-size: 120%;
    background-position: center;
}

p 
{

    font-family: 'VT323', monospace;
    background-size: ;
    color:white;
    font-size: 1.78vw;
    width:80%;
    margin: 5% auto;
}

/*images*/

img#EFcropped 
{
    width:100%;
    margin:0;

}
img#GroupCity
{
    width:45%;
    margin: auto;
    padding:20px;
    float:right
}

img#bottomCity
{
    border-image-repeat: stretch;
    margin-bottom: 0;
    
}


